* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
#main {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
  background: url(../img/main01.jpg) center center no-repeat;
  background-size: cover;

  position: absolute;
  overflow: hidden;
}

header {
  width: 100%;

  /* border: 1px solid red; */
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

header .logo {
  width: 13%;
  height: 50px;
  /* border: 1px solid red; */
  margin-top: 20px;

  position: absolute;
  /* top: 100px; */
  left: 3%;
}
.logo img {
  width: 100%;
}
.line {
  width: 15%;
  /* border: 1px solid red; */
  position: absolute;
  right: 100px;
  top: 20px;
}
.line ul {
  width: 100%;
  display: flex;

  justify-content: space-between;
  position: relative;
  transition: all 1s ease-in;
}
.line ul li {
  width: 100%;
}
.line ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: flex;
}
.line ul li a div span {
  position: relative;
  display: inline-block;
  /* border: 1px solid red; */
}
.line ul li a .offline .off_color {
  color: #e16900;
  font-weight: bold;

  opacity: 0;
  /* display: none; */
}
.line ul li a .online .on_color {
  color: #e16900;
  font-weight: bold;

  opacity: 0;
  /* display: none; */
}
.sc,
.sc_1 {
  width: 15px;
  height: 15px;
  /* border: 1px solid red; */
  position: absolute;
}
.sc {
  top: 5px;
  left: 30%;
  border-radius: 50%;
  border: 2px solid #e16900;
}
.sc_1 {
  top: 5px;
  right: 14%;
  border-radius: 50%;
  border: 2px solid #e16900;
}
.sc_color {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #e16900;
  border-radius: 50%;
  position: absolute;
  left: 32.4%;
  top: 40px;

  /* display: none; */
  opacity: 0;
}
.sc_1_color {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #e16900;
  border-radius: 50%;
  position: absolute;
  right: 16.5%;
  top: 40px;

  /* display: none; */
  opacity: 0;
}
h3 {
  width: 70vw;
  text-align: center;
  /* border: 1px solid red; */
  color: #fff;
  text-shadow: 5px 5px 3px black;
  font-size: 105px;
  position: absolute;
  /* top: 25%; */
  opacity: 0;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
}

.shop {
  width: 17%;
  height: 115px;

  /* border: 1px solid red; */
  border-radius: 30px;

  position: relative;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  line-height: 100px;
  background-color: #d1d1d1;
  /* color: #fff; */
  /* font-size: 105px; */
  /* font-weight: bold; */

  overflow: hidden;
}

.shop a {
  color: #fff;
  font-size: 105px;
  font-weight: bold;
  text-shadow: 3px 3px 10px black;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.shop a.shop_color {
  color: #e16900;
  top: 100px;
}
.family {
  width: 11%;
  height: 40px;
  /* border: 1px solid red; */
  border-radius: 10px;
  position: absolute;

  bottom: 5%;
  right: 5%;
  background: #d1d1d1;
  z-index: 10;
  transition: all 1s ease;
}
.family h2 {
  font-size: 28px;
  color: #fff;

  text-align: left;
  padding: 0 0 0 10px;
}
.family h2 .up_down {
  display: inline-block;
  width: 10%;
  font-size: 20px;
  text-align: center;

  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  /* border: 1px solid red; */
}
.fam_ch {
  width: 11%;
  height: 100px;
  /* border: 1px solid red; */
  position: absolute;
  /* bottom: 7%; */
  bottom: 0;
  opacity: 0;
  right: 5%;
  background-color: #d1d1d1;
  border-radius: 10px;
  z-index: 1;
}
.fam_ch li {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 0;
  border-bottom: 1px dashed #fff;
}
.fam_ch li:nth-child(3) {
  border-bottom: none;
}
.fam_ch li a {
  color: #fff;
  /* font-weight: bold; */
}

.fam_ch li:hover a {
  color: #333;
}
